<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="customer">
      <h2 data-cy="customerDetailsHeading"><span>Customer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ customer.id }}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
          <span>{{ customer.firstName }}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
          <span>{{ customer.lastName }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ customer.email }}</span>
        </dd>
        <dt><span>Telephone</span></dt>
        <dd>
          <span>{{ customer.telephone }}</span>
        </dd>
        <dt><span>Address Raw</span></dt>
        <dd>
          <span>{{
            customer.addressRaw && customer.addressRaw.length > 6 ? (customer.addressRaw | slice: 0:20) + '..' : customer.addressRaw
          }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <div *ngIf="customer.address">
            <a [routerLink]="['/customer-address', customer.address?.id, 'view']">{{ customer.address?.street }}</a>
          </div>
          <div>
            <button [routerLink]="['/customer-address', customer.id, 'view']" class="btn btn-info btn-sm">
              <fa-icon icon="eye"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">View</span>
            </button>
            <button [routerLink]="['/customer-address', customer.id, 'edit']" class="btn btn-info btn-sm">
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button (click)="removeAddress()" class="btn btn-danger btn-sm">
              <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
